:root{
    --bg-color: #a7a8ac;
}

body {
    background: var(--bg-color);
}

#main-content {
    background: #fff;
    margin-top: 100px;
    border-radius: 3px;
    padding: 30px;
}

#header {
    text-align: center;
    padding-top: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

#header h1 {
    font-size: 36px;
    padding-top: 0px;
    margin-top: -70px;
}

#header p {
    font-size: 20px;
    padding-bottom: 15px;
}

#header img {
    display: inline-block;
    position: relative;
    left: 0%;
    transform: translate(0px, -75px);
    top: -20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--bg-color);
}

#header a {
    text-decoration: none;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    transform: translate(0px, -30px);
}

#header a:link {
    color: #333;
}

#header a:visited {
    color: #333;
}

#header a:hover {
    color: #444;
}

#header a:active {
    color: #555;
}

#game-info-title {
    margin-bottom: -60px;
}

.game-info {
    margin-top: 80px;
}

.game-info h1 {
    margin-left: 5px;
}

.game-info img {
    float: left;
    width: 256px;
    height: 144px;
    margin-right: 30px;
    margin-left: 5px;
}
