:root{
    --bg-color:#b6c9ed;
}

body {
    background: var(--bg-color);
}

#main-content {
    background: #fff;
    margin-top: 100px;
    border-radius: 3px;
}

#header {
    text-align: center;
    padding-top: 10px;
}

#header h1 {
    font-size: 36px;
    padding-top: -40px;
    margin-top: -40px;
}

#header p {
    font-size: 20px;
    padding-bottom: 15px;
}

#header img {
    display: inline-block;
    position: relative;
    left: 0%;
    transform: translate(0px, -75px);
    top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--bg-color);
}
