html {
    overflow-y: scroll;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #4474ce;
}

a:hover {
    text-decoration: underline;
    color: #509ae0;
}

.wrapper {
    margin: auto;   
    max-width: 800px;
}

.content {
    letter-spacing: 0.11em;
    line-height: 28px;
    margin-bottom: 24px;
}

.header {
    margin-bottom: 32px;
}

.header h1 {
    font-size: 30px;
}

.header h2 {
    font-size: 16px;
}

.header hr {
    border: 0;
    height: 1px;
    background: #333;
}

.social-links {
    float: right;
}

.social-links a {
    font-size: 24px;
    text-decoration: none;
    padding-left: 3px;
    color:black;
}

.social-links a:hover {
    color: #444;
}

.navbar ul {
    list-style-type: none;
    margin: 0;      
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    text-align: center;
    padding-right: 16px;
    text-decoration: none;
    color: black;
}

.navbar li a:hover {
    color: #888;
}

.content {
    margin-top: 14px;
}
