html {
  overflow-y: scroll;
}

.wrapper {
    margin: auto;       
    max-width: 800px;
}

.social-links {
    float: right;
}

.social-links a {
    text-decoration: none;
    padding-left: 10px;
    color:black;
}

.social-links a:hover {
    color: #888;
}

.navbar ul {
    list-style-type: none;
    margin: 0;      
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    text-align: center;
    padding-right: 16px;
    text-decoration: none;
    color: black;
}

.navbar li a:hover {
    color: #888;
}

.content {
    margin-top: 14px;
}
