html {
    overflow-y: scroll;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.10em;
    line-height: 28px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #4474ce;
}

a:hover {
    text-decoration: underline;
    color: #509ae0;
}

.section {
    margin-bottom: 50px;
}

.project {
    margin-bottom: 40px;
}

.wrapper {
    margin: auto;   
    max-width: 800px;
}

.content {
    margin-bottom: 24px;
}

.header {
    width:100%;
    margin-bottom: 60px;
}

.header h1 {
    font-size: 30px;
}

.header h2 {
    font-size: 16px;
}

.header hr {
    border: 0;
    height: 1px;
    background: #333;
}

.social-links {
    float: right;
}

.social-links a {
    font-size: 24px;
    text-decoration: none;
    padding-left: 3px;
    color:black;
}

.social-links a:hover {
    color: #444;
}

#navbar {
    position: absolute;
    width: 100%;
    max-width: 800px;
    height: 30px;
    background:#FFF;
    margin-top:0px;
    padding-top:5px;
}

#navbar ul {
    background: #FFF;
    list-style-type: none;
    margin: 0;      
    padding: 0;
    padding-bottom: 4px;
    overflow: hidden;
}

#navbar li {
    float: left;
    margin-right: 10px;
}

#navbar li a {
    display: block;
    text-align: center;
    padding-right: 16px;
    text-decoration: none;
    font-weight: normal;
    color: black;
}

#navbar li a:hover {
    color: #888;
}

.content {
    padding: 5px;
    margin-top: 14px;
}
