body {
    background: #eff3fc;
}

#header-profile {
    background: #e8edfc;
}

#header-profile h1 {
    font-size: 44px;
}

#header-profile p {
    font-size: 26px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#header-profile a {
    font-size: 28px;
    padding: 7px 5px 0px 0px;
    margin: 0px 0px;
    text-decoration: none;
}

#header-profile a:link {
    color: #333;
}

#header-profile a:visited {
    color: #444;
}

#header-profile a:hover {
    color: #555;
}

#header-profile a:active {
    color: #666;
}

.profile {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
